<div class="card">
    <div class="card-body">
        <div class="jumbotron-mt-4">
            <h1 class="display-4">Notes app nodeJS/handlebars + Mongo db</h1>
            <p class="lead">Simple app for tasks cards
            </p>

            <hr class="my-4">

            <p>Create a new user, login and add some tasks, now you can edit and delete them, the cards belong to their respective users</p>

            <a href="#" class="btn btn-primary">link</a>
        </div>
    </div>
</div>

