<ul class="nav nav-expand-lg nav-bar-light bg-light justify-content-center fixed-bottom">
    
  <li class="nav-item">App footer 
  </li>
  {{!-- <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li> --}}
</ul>
  {{!-- <li class="nav-item">
    <a class="nav-link active" href="#">footer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li> --}}
</ul>